* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 800px;
    display: flex;
    background: #ddd;

    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */

    /* justify-content: space-evenly;
    align-items: center; */

    /* space between para alinear los elemsnots para generar espacios entre ellos */

    /* justify-content: space-between; */
    /* justify-content: space-around;
    justify-content: space-evenly; */

    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
}

div {
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 2px;


}

/* div:first-child {
    width: 300px;;
} */


.uno {
    flex-grow: 2;
    align-self: flex-end;
    /* order: 3; */
}

.dos {
    flex-grow: 5;
    align-self: center;
    /* order: 2; */
}

.tres {
    flex-grow: 1;
    /* order: 1; */
}